services:
  personal-webapp:
    build:
      context: .
      network: host
    ports:
      - "5001:5001"
    volumes:
      - .:/app
      - ./templates:/app/templates
      - ./static:/app/static
    restart: unless-stopped
    environment:
      - FLASK_ENV=production
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    networks:
      - webapp-network

networks:
  webapp-network:
    driver: bridge